{% load static %}
<div class="card">
    <div class="card_header">
        {% if essay.book_photo %}
            <img src="{{ essay.book_photo.url }}" alt="책 사진">
        {% else %}
        <img src="http://via.placeholder.com/64x100" alt="책 사진">
        {% endif %}
        <a hrdf="#">
            <span class="card_user-name">{{ essay.username }}</span><br>{{ essay.essay_title }}
            
        </a>
    </div>
    <div class="card_body">
        <div>
            <!-- <img class="card_image" src="http://via.placeholder.com/300x300" alt=""> -->
        </div>
        
        <div class="card_content">
            <!-- <span class="card_like-num">좋아요 00개</span> -->
            <div class="card_main-text">
                
                <p>{{ essay.essay_content }}</p>
            </div>
        </div>
        <div class="card_btn-group">
            <img class="card_btn" src="{% static 'icons/favorite_outlined_black_36dp.svg' %}" alt=""}>
            <img class="card_btn" src="{% static 'icons/mode_comment_outlined_black_36dp.svg' %}" alt=""}>
        </div>
        <div class="card_comment-username">
            <p><span class="card_user-name">csy.official</span></p>
            <p>댓글 내용...</p>
        </div>
    </div>
</div>