<header>
    <div id="head">
        <div>
            <div onClick="location.href='main.html'" style="cursor: pointer;">채기랑</div>
            <div id="divRight">
                <div>마이페이지</div>
                <div>로그아웃</div>
                <div>글 작성하기</div>
            </div>
        </div>
    </div>
    <div id="nav">
        <div>
            <div onClick="location.href='offline-main.html'" style="cursor: pointer;">오프라인 독서 클럽</div>
            <div onClick="location.href='offline-comunity.html'" style="cursor: pointer;">커뮤니티</div>
            <div>독서습관 챌린지</div>
            <div>개인 독서 일기</div>
        </div>
    </div>
</header>