{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/main-detail.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <section id="sec1">
        <div style="display: flex; flex-direction: row; align-items: center; border-bottom: 1px solid black; padding: 6px;">
            <p style="font-size: 2.2rem;">{{club.group_name}}</p>
            <img onClick="location.href='/club/entirelist'" src="/static/img/close.png" alt="닫기">
        </div>
    </section>
    <section id="sec2">
        <div class="divH">
            <div class="cClub1"><img src="/media/bookclub/{{ club.club_id }}.jfif" alt="책 이미지"></div>
            <div class="cClub2" id="divClub1">
                <div id="type">
                    <p>토론 분야</p>
                    <div style="margin-bottom: 2.5vh;">
                        <div>{{club.discussion_field}}</div>
                    </div>
                </div>
                <div id="keyword">
                    <p>토론 키워드</p>
                    <div>
                        <div>#{{club.discussion_keywords}}</div>
                    </div>
                </div>
                <div id="title">
                    <p>책 제목</p>
                    <div>{{club.book_title}}</div>
                </div>
                <div id="author">
                    <p>지은이</p>
                    <div>{{club.book_author}}</div>
                </div>
            </div>
        </div>
        <div class="divH">
            <div class="cClub1" id="divClub2">
                <div>
                    <img src="/static/img/people.png" alt="사람">
                    <p class="pBlack1">최소 {{club.min_members}}명에서 최대 {{club.max_members}}명까지</p>
                </div>
                <div>
                    <img src="/static/img/location.png" alt="사람">
                    <div>
                        <p class="pBlack1">{{club.district_location}}, {{club.dong_location}}</p>
                        <p class="pGray">{{club.full_address}}</p>
                    </div>
                </div>
                <div>
                    <img src="/static/img/clock.png" alt="사람">
                    <div style="display: flex; flex-direction: column; gap: 1.8vh;">
                        <p class="pBlack1">{{club.date1}}(금), PM {{club.time}}</p>
                        {% if club.date1 != '' %}<p class="pGray">1회차 {{club.date1}}(금)</p>{% endif %}
                        {% if club.date2 != '' %}<p class="pGray">2회차 {{club.date2}}(금)</p>{% endif %}
                        {% if club.date3 != '' %}<p class="pGray">3회차 {{club.date3}}(금)</p>{% endif %}
                        {% if club.date4 != '' %}<p class="pGray">4회차 {{club.date4}}(금)</p>{% endif %}
                        {% if club.date5 != '' %}<p class="pGray">5회차 {{club.date5}}(금)</p>{% endif %}
                    </div>
                </div>
            </div>
            <div class="cClub2" id="divClub3">
                <p class="pBlack2">클럽 상세 내용</p>
                <div class="pGray">
                    {{club.club_details}}
                </div>
            </div>
        </div>
        <div class="orangeBtn">현재 {{club.max_members}}명 자리 중에 {{club.remaining}}자리 밖에 안 남았어요</div>
        <div id="div3Btn">
            <div id="likeBtn" style="width: 8%;" class="emptyBtn"><img id="likeImg" src="/static/img/likeEmpty.svg" alt="좋아요"></div>
            <div id="submit" style="width: 44%;" class="emptyBtn" onclick="location.href='/club/{{club.club_id}}/apply'">신청하기</div>
            <div id="back" style="width: 44%;" class="emptyBtn" onclick="location.href='/club/entirelist'">다른 독서 모임 알아보러 가기</div>
        </div>
    </section>
    <script>
        // 좋아요 버튼
        var like_status = false;
        let like_btn = $("#likeBtn");
        let like_img = $("#likeImg");

        if(like_status){
            like_img.attr('src', '/static/img/like.svg');
        }
        else{
            like_img.attr('src', '/static/img/likeEmpty.svg');
        }
        
        like_btn.click(function(){
            if(!like_status){
                like_status=true;
                like_img.attr('src', '/static/img/like.svg');
            }
            else{
                like_status=false;
                like_img.attr('src', '/static/img/likeEmpty.svg');
            }
        })
    </script>
</body>
</html>
{% include 'footer.html' %}