{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title onclick="location.href='/club/main'">채기랑</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/offline-main.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <script src="/static/js/includeHTML.js"></script>
</head>

<body>
        <div id="search-bar">
            <input type="text" placeholder="검색어를 입력하세요">
            <div id="search-icon"><i class="fas fa-search"></i></div>
        </div>
        <div id="middle-text">
            <div>내 주변 근처에서</div>
            <div>독서 친구 만나보러 가요</div>
        </div>
        <button id="clubBtn" onclick="location.href='/club/create'">독서클럽 만들기</button>
        <div id="circle1"></div>
        <div id="circle2"></div>
        <div id="circle-none"></div>
        <div id="text3">인기 독서클럽</div>
        <div id="more1" onclick="location.href='/club/popularlist'">더 보기</div>
        <div class="card-container" onclick="location.href='/club/1'">
            <div class="card-box" id="card1">
                <img width="268" height="280" src="/static/img/img/1.png">
            </div>
            <div class="heart" id="heart1">
                <img width="23" height="20" src="/static/img/img/heart1.png">
            </div>
            <div class="card-num" id="num1">1</div>
            <div class="card-text-box" id="box1"></div>
            <div class="card-text" id="text1">
                <div class="textone">범죄학 연구자와 함께 콘텐츠 사회 문제 짚어보기</div>
                <div class="texttwo"><span>강남</span><span>5/18</span></div>
                <div class="textthree">첫 모임 5/18(목) 18:00</div>
            </div>
        </div>
        <div class="card-container" onclick="location.href='/club/1'">
            <div class="card-box" id="card2">
                <img width="268" height="280" src="/static/img/img/2.png">
            </div>
            <div class="heart" id="heart2">
                <img width="23" height="20" src="/static/img/img/heart2.png">
            </div>
            <div class="card-num" id="num2">2</div>
            <div class="card-text-box" id="box2"></div>
            <div class="card-text" id="text2">
                <div class="textone">외향적인 사람들의 독서 모임</div>
                <div class="texttwo"><span>강남</span><span>5/18</span></div>
                <div class="textthree">첫 모임 5/18(목) 18:00</div>
            </div>
        </div>
        <div class="card-container" onclick="location.href='/club/1'">
            <div class="card-box" id="card33">
                <img width="268" height="280" src="static/img/img/3.png">
            </div>
            <div class="heart" id="heart33">
                <img width="23" height="20" src="/static/img/img/heart1.png">
            </div>
            <div class="card-num" id="num33">3</div>
            <div class="card-text-box" id="box33"></div>
            <div class="card-text" id="text33">
                <div class="textone">외향적인 사람들의 독서 모임</div>
                <div class="texttwo"><span>강남</span><span>5/18</span></div>
                <div class="textthree">첫 모임 5/18(목) 18:00</div>
            </div>
        </div>
        <div class="card-container" onclick="location.href='/club/1'">
            <div class="card-box" id="card4">
                <img width="268" height="280" src="/static/img/img/4.png">
            </div>
            <div class="heart" id="heart4">
                <img width="23" height="20" src="/static/img/img/heart2.png">
            </div>
            <div class="card-num" id="num4">4</div>
            <div class="card-text-box" id="box4"></div>
            <div class="card-text" id="text4">
                <div class="textone">외향적인 사람들의 독서 모임</div>
                <div class="texttwo"><span>강남</span><span>5/18</span></div>
                <div class="textthree">첫 모임 5/18(목) 18:00</div>
            </div>
        </div>
        <div id="text444">전체 독서클럽</div>
        <div id="more2" onclick="location.href='/club/entirelist'">더 보기</div>
        <div class="card-container" onclick="location.href='/club/1'">
            <div class="card-box" id="card5">
                <img width="268" height="280" src="/static/img/img/5.png">
            </div>
            <div class="heart" id="heart5">
                <img width="23" height="20" src="/static/img/img/heart1.png">
            </div>
            <div class="card-text-box" id="box5"></div>
            <div class="card-text" id="text5">
                <div class="textone">외향적인 사람들의 독서 모임</div>
                <div class="texttwo"><span>강남</span><span>5/18</span></div>
                <div class="textthree">첫 모임 5/18(목) 18:00</div>
            </div>
        </div>
        <div class="card-container" onclick="location.href='/club/1'">
            <div class="card-box" id="card6">
                <img width="268" height="280" src="/static/img/img/6.png">
            </div>
            <div class="heart" id="heart6">
                <img width="23" height="20" src="/static/img/img/heart2.png">
            </div>
            <div class="card-text-box" id="box6"></div>
            <div class="card-text" id="text6">
                <div class="textone">외향적인 사람들의 독서 모임</div>
                <div class="texttwo"><span>강남</span><span>5/18</span></div>
                <div class="textthree">첫 모임 5/18(목) 18:00</div>
            </div>
        </div>
        <div class="card-container" onclick="location.href='/club/1'">
            <div class="card-box" id="card7">
                <img width="268" height="280" src="/static/img/img/7.png">
            </div>
            <div class="heart" id="heart7">
                <img width="23" height="20" src="/static/img/img/heart1.png">
            </div>
            <div class="card-text-box" id="box7"></div>
            <div class="card-text" id="text7">
                <div class="textone">외향적인 사람들의 독서 모임</div>
                <div class="texttwo"><span>강남</span><span>5/18</span></div>
                <div class="textthree">첫 모임 5/18(목) 18:00</div>
            </div>
        </div>
        <div class="card-container" onclick="location.href='/club/1'">
            <div class="card-box" id="card8">
                <img width="268" height="280" src="/static/img/img/8.png">
            </div>
            <div class="heart" id="heart8">
                <img width="23" height="20" src="/static/img/img/heart2.png">
            </div>
            <div class="card-text-box" id="box8"></div>
            <div class="card-text" id="text8">
                <div class="textone">외향적인 사람들의 독서 모임</div>
                <div class="texttwo"><span>강남</span><span>5/18</span></div>
                <div class="textthree">첫 모임 5/18(목) 18:00</div>
            </div>
        </div>
        
    </div>
    <script>
        includeHTML();
    </script>
</body>

</html>
{% include 'footer.html' %}