@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto&display=swap');

html{
    font-size:62.5%;
    font-family: 'Noto Sans KR', sans-serif;
}

div,p,img{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
input{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-appearance : none;
    -moz-appearance:none;
    appearance:none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type='date']:valid {
    color: #C2C2C2;
}
input[type='time']:valid {
    color: #C2C2C2;
}
textarea{
    flex-grow: 1;
    border-radius: 12px;
    outline: none;
    border: none;
    resize: none;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    color: black;
    padding: 15px;
    font-size: 1.6rem;
}
select{
    color: #C2C2C2;
    padding-left: 15px;
    padding-right: 20px;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}


#sec1{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/img/background-main-detail.png');
    background-repeat : no-repeat;
    background-size : cover;
}

#sec1 #title{
   color: #001853;
   font-size: 2.2rem;
   font-weight: 700;

}

#sec2{
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-self: center;
    margin-top: 10vh;
}

#sec2 > div{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 7vh;
}

.divLeft{
    width: 15vw;
    padding-right: 2vw;
    text-align: left;
    font-size: 1.8rem;
    padding-top: 10px;
}
.divRight{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#title-box textarea::placeholder{
    color: #C2C2C2;
}


.divSquare{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 14vh;
    height: 14vh;
    border-radius: 12px;
    padding: 15px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.20);
}
.divSquare > img{
    height: 4vh;
}

.book-title input{
    flex-grow: 1;
    border-radius: 12px;
    margin: 0;
    outline: none;
    border: none;
    resize: none;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    color: black;
    padding: 15px;
    font-size: 1.6rem;
    border: 0;
    -webkit-appearance : none;
    -moz-appearance:none;
    appearance:none;
}
.book-title input::placeholder{
    color: #C2C2C2;
}

#clubtime .divRight{
    gap: 10px;
}
#clubtime #time-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px;
}
#clubtime #round{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3vh;
    font-size: 1.2rem;
}
#clubtime #round > input{
    width: 5vh;
    height: 3vh;
    text-align: center;
    margin-right: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
#time-box > input{
    height: 3vh;
    border-radius: 8px;
    background: #FFF;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#time-box input::placeholder{
    color: #C2C2C2;
}

#clubplace .divRight{
    gap: 10px;
}
#clubplace select{
    flex-grow: 1;
    height: 5vh;
    font-size: 1.4rem;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    border: 0;
    background: url('/static/img/arrow_bottom.svg') calc(95% - 5px) no-repeat;
    background-size: 10px;
}

#discuss-box .divRight{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.radioDiscuss input[type=radio] + label{
    padding: 0 16px 0 16px;
    font-size: 1.4rem;
    border: 1px solid #F88103;
    background: #FFF;
    border-radius: 24px;
    text-align: center;
    line-height: 35px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.radioDiscuss label{
    display: block;
}
.radioDiscuss input[type=radio] {
    display: none;
}
/* Checked */
.radioDiscuss input[type=radio]:checked + label{
    background: #F88103;
    border-radius: 24px;
}

#keyword .divRight{
    display: flex;
    flex-direction: row;
    height: 5vh;
}
#keyword .divRight > div{
    line-height: 5vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

#keyword .divRight input{
    width: 12vw;
    line-height: 5vh;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    padding: 15px;
}
#keyword .divRight input::placeholder{
    color: #C2C2C2;
}

#detail .divRight{
    height: 20vh;
}
#detail textarea::placeholder{
    color: #C2C2C2;
}

#sec3{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 15vh;
}
#sec3 > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
#sec3 > div > div{
    background-color: #001853;
    border-radius: 12px;
    text-align: center;
    padding: 10px 18px;
}