@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto&display=swap');

html{
    font-size:62.5%;
    font-family: 'Noto Sans KR', sans-serif;
}

div,p,input{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


#sec1 .divCategory{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}
#sec1 .divCategory > div{
    width: 80px;
    height: 40px;
    font-size: 1.4rem;
    background-color: #F88103;
    border-radius: 24px;
    text-align: center;
    line-height: 40px;
}

#sec2{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('/static/img/background-main.svg');
    background-repeat : no-repeat;
    background-size : cover;
    padding-top: 8vh;
}

#divBooksV{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 10vh;
}
#divBooksV > .divOneBook{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 600px;
    height: 16vw;
    min-height: 210px;
    border-radius: 24px;
    background: rgba(255, 251, 251, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 2vh;
}
#divBooksV > .divOneBook > img{
    width: 14vw;
    min-width: 200px;
    border-radius: 12px;
}
#divBooksV > .divOneBook > div{
    display: flex;
    flex-direction: column;
    padding: 0 3vw 20px 3vw;
}

#divIdDate{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-top: 3vh;
    margin-bottom: 2.5vh;
}
#divIdDate > #id{
    font-size: 1.6rem;
    font-weight: 700;
}
#divIdDate > #date{
    font-size: 1.2rem;
    color: #A5A5A5;
    font-weight: 500;
    margin-left: 5px;
}
#divBooksV > .divOneBook #title{
    min-width: 370px;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.4vh;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break:break-all;
}
#divBooksV > .divOneBook #content{
    min-width: 370px;
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
    white-space: normal;
    word-break: break-all;
}

#divLikeReply{
    min-width: 370px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#divLikeReply > div{
    display: flex;
    flex-direction: row;
    align-items: end;
}
#divLikeReply img{
    width: 16px;
    margin-right: 3px;
}
#divLikeReply{
    font-size: 1rem;
}
#divLikeReply strong{
    font-size: 1.2rem;
    margin-left: 3.5px;
    margin-right: 20px;
}

#divGoFillIn{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    align-self: flex-end; 
    background-color: #ECECEC; 
    border-radius: 24px; 
    padding: 4px 12px;
    font-size: 1.4rem;
}
#divGoFillIn img{
    margin-right: 6px;
}