@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto&display=swap');

html{
    font-size:62.5%;
    font-family: 'Noto Sans KR', sans-serif;
}

div,p,input,img{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


#sec1{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/img/background-main-detail.png');
    background-repeat : no-repeat;
    background-size : cover;
}
#sec1 img{
    width: 20px; 
    height: 20px;
}
#sec1 img:hover{
    cursor: pointer;
}

#sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15vh 0 18vh 0;
}
.divH{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.cClub1{
    width: 20vw;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
}
.cClub2{
    width: 24vw;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
    padding: 6vh 2vw 5vh 2.5vw ;
}

#divClub1 > div > p{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.4vh;
}
#type > div{
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5vh;
}
#type > div > div{
    width: 40px;
    border: 1.5px solid #F88103;
    border-radius: 32px;
    padding: 7px 11px;
    font-size: 1.6rem;
    text-align: center;
    margin-right: 12px;
}

#keyword > div{
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5vh;
}
#keyword > div > div{
    font-size: 1.6rem;
    color: #7E7E7E;
    font-weight: 400;
}

#title > div{
    font-size: 1.6rem;
    color: #7E7E7E;
    font-weight: 400;
    margin-bottom: 2.5vh;
}

#author > div{
    font-size: 1.6rem;
    color: #7E7E7E;
    font-weight: 400;
    margin-bottom: 2.5vh;
}

#divClub2{
    width: 17vw;
    display: flex;
    flex-direction: column;
    padding: 6vh 1vw 1vh 2vw ;
}
#divClub2 > div{
    display: flex;
    flex-direction: row;
    margin-bottom: 4vh;
}
#divClub2 > div > img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.pBlack1{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 1.5vh;
}
.pBlack2{
    font-size: 1.8rem;
    font-weight: 500;
}
.pGray{
    font-size: 1.5rem;
    font-weight: 400;
    color: #7E7E7E;
}

#divClub3 > div{
    margin-top: 4vh;
}

.orangeBtn{
    width: 50vw;
    height: 7vh;
    border-radius: 12px;
    background: #F88103;
    line-height: 7vh;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1.8vh;
}

#div3Btn{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.emptyBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    border-radius: 12px;
    border: 1px solid #F88103;
    font-size: 1.6rem;
}


#div3Btn div{
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
#div3Btn div:hover {
    box-shadow: 0px 0 20px #f882035a;
}
#div3Btn div:active{
    background-color: #f882035a;
    box-shadow: 0px 5px 20px #f882035a;
    transform: translateY(3px);
}