body {
    width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    zoom: 0.7; 
    display: flex;
    flex-direction: column;
  }
  
  #top {
    font-weight: 700;
    display: flex;
    height: 47px;
    align-items: center;
  }
  .top-left {
    padding-left: 580px;
  }
  .top-right {
    width: 290px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 12px;
    padding-left: 400px;
  }
  
  .underline {
    position: absolute;
    width: 144px;
    height: 4px;
    top: 100px;
    left: 577px;
    border-radius: 1px;
  
    border-bottom: 3px solid #f88103;
  }
  
  input {
    position: absolute;
    top: 139px;
    left: 571px;
    width: 780px;
    height: 80px;
    border-radius: 30px;
    font-size: 18px;
    padding-left: 20px;
  }
  #search-icon {
    width: 30px;
    height: 30px;
  }
  #search-icon i {
    position: absolute;
    top: 165px;
    left: 1320px;
    font-size: 30px;
  }
  #middle-text {
    position: absolute;
    top: 364px;
    left: 369px;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
  }
  
  #clubBtn {
    width: 196px;
    height: 52px;
    position: absolute;
    top: 523px;
    left: 369px;
    border-radius: 12px;
    padding: 12px;
    gap: 10px;
    background-color: #f88103;
  }
  
  #circle1 {
    width: 480px;
    height: 480px;
    position: absolute;
    top: 407px;
    left: 1283px;
    z-index: 1;
    border-radius: 100%;
    background: #ff8a0d1f;
  }
  #circle2 {
    width: 458.33px;
    height: 474.72px;
    position: absolute;
    top: 453px;
    left: 1590px;
    z-index: 10;
    border-radius: 100%;
    background: #f2f3f6;
  }
  #circle-none {
    background-color: white;
    width: 700px;
    height: 268px;
    position: absolute;
    top: 660px;
    left: 1283px;
    z-index: 100;
  }
  #text3 {
    position: absolute;
    height: 44px;
    top: 794px;
    left: 370px;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
  }
  #more1 {
    position: absolute;
    height: 27px;
    top: 802px;
    left: 1479px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    z-index: 1000;
    color: #838282;
  }
  
  .card-box {
    z-index: 1100;
    position: absolute;
    width: 268px;
    height: 380px;
    border-radius: 12px;
  }
  .card-text-box {
    position: absolute;
    width: 268px;
    height: 140px;
    border-radius: 12px;
    background: #fffbfb33;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .card-text {
    position: absolute;
    width: 240px;
    height: 73px;
    border-radius: 8px;
  }
  .card-num {
    position: absolute;
    width: 35px;
    height: 82px;
    font-size: 60px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    -webkit-text-stroke: 3px #f88103;
  }
  .heart {
    position: absolute;
    width: 21px;
    height: 18px;
    border: 2px;
    z-index: 11111111111111;
  }
  .textone {
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  .texttwo {
    margin-top: 15px;
  }
  .texttwo span {
    width: Hug (26px);
    height: Hug (20px);
    padding: 4px;
    border-radius: 8px;
    gap: 10px;
    color: white;
    background-color: #001853;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
  }
  .textthree {
    margin-top: 15px;
    height: 10px;
    font-size: 8px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
  }
  #card1 {
    top: 892px;
    left: 367px;
  }
  #box1 {
    top: 1133px;
    left: 367px;
  }
  #text1 {
    top: 1189px;
    left: 387px;
  }
  #num1 {
    top: 1102px;
    left: 378px;
  }
  #heart1 {
    top: 903px;
    left: 605px;
  }
  
  #card2 {
    top: 892px;
    left: 667px;
  }
  #box2 {
    top: 1133px;
    left: 667px;
  }
  #text2 {
    top: 1189px;
    left: 687px;
  }
  #num2 {
    top: 1102px;
    left: 678px;
  }
  #heart2 {
    top: 903px;
    left: 905px;
  }
  
  #card33 {
    top: 892px;
    left: 967px;
  }
  #box33 {
    top: 1133px;
    left: 967px;
  }
  #text33 {
    top: 1189px;
    left: 987px;
  }
  #num33 {
    top: 1102px;
    left: 978px;
  }
  #heart33 {
    top: 903px;
    left: 1205px;
  }
  #card4 {
    top: 892px;
    left: 1267px;
  }
  #box4 {
    top: 1133px;
    left: 1267px;
  }
  #text4 {
    top: 1189px;
    left: 1287px;
  }
  #num4 {
    top: 1102px;
    left: 1278px;
  }
  #heart4 {
    top: 903px;
    left: 1505px;
  }
  
  #text444 {
    position: absolute;
    height: 44px;
    top: 1481px;
    left: 370px;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  #more2 {
    position: absolute;
    height: 27px;
    top: 1481px;
    left: 1479px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    z-index: 1000;
    color: #838282;
  }
  
  #card5 {
    top: 1579px;
    left: 367px;
  }
  #box5 {
    top: 1818px;
    left: 367px;
  }
  #text5 {
    top: 1874px;
    left: 387px;
  }
  #heart5 {
    top: 1590px;
    left: 605px;
  }
  
  #card6 {
    top: 1579px;
    left: 667px;
  }
  #box6 {
    top: 1818px;
    left: 667px;
  }
  #text6 {
    top: 1874px;
    left: 687px;
  }
  #heart6 {
    top: 1590px;
    left: 905px;
  }
  
  #card7 {
    top: 1579px;
    left: 967px;
  }
  #box7 {
    top: 1818px;
    left: 967px;
  }
  #text7 {
    top: 1874px;
    left: 987px;
  }
  #heart7 {
    top: 1590px;
    left: 1205px;
  }
  
  #card8 {
    top: 1579px;
    left: 1267px;
  }
  #box8 {
    top: 1818px;
    left: 1267px;
  }
  #text8 {
    top: 1874px;
    left: 1287px;
  }
  #heart8 {
    top: 1590px;
    left: 1505px;
  }

  
  /* upload.html */
  #page-title {
    position: absolute;
    width: 1922px;
    height: 474px;
    top: 111px;
    left: -2px;
    background: #e5e6fa;
  }
  
  .page-title-text1 {
    position: absolute;
    width: 540px;
    height: 160px;
    top: 155px;
    left: 690px;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
  }
  .page-title-text2 {
    position: absolute;
    height: 160px;
    top: 255px;
    left: 660px;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
  }
  .up-st {
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
  }
  #up-s1t1 {
    height: 44px;
    top: 744px;
    left: 360px;
  }
  #up-s1b1 {
    position: absolute;
    width: 956px;
    height: 160px;
    top: 714px;
    left: 589px;
    border: 1px solid white;
    border-radius: 24px;
    background: #ffffff;
    box-shadow: 0px 4px 30px 0px #0000001a;
  }
  #up-s2t1 {
    height: 44px;
    top: 958px;
    left: 364px;
  }
  
  #s1 {
    position: absolute;
    width: 190px;
    height: 190px;
    top: 958px;
    left: 589px;
    border-radius: 13px;
    box-shadow: 0px 4px 20px 0px #00000040;
  }
  #s1-num {
    position: absolute;
    width: 62px;
    height: 54px;
    top: 1079px;
    left: 652px;
    font-size: 40px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
  }
  #s1-num1 {
    color: #a5a5a5;
  }
  #camera-icon {
    position: absolute;
    width: 55px;
    height: 49px;
    top: 1000px;
    left: 656px;
  }
  #dot-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 1018px;
    left: 675px;
  }
  #square1 {
    position: absolute;
    top: 958px;
    left: 798px;
  }
  #square1-text {
    position: absolute;
    height: 23px;
    top: 1121px;
    left: 878px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }
  #square2 {
    position: absolute;
    top: 958px;
    left: 1035px;
  }
  #square3 {
    position: absolute;
    top: 958px;
    left: 1250px;
  }
  #square4 {
    position: absolute;
    top: 958px;
    left: 1470px;
  }
  #rbtn {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 1023px;
    left: 1485px;
  }
  #x1 {
    position: absolute;
    top: 963px;
    left: 983px;
  }
  #x2 {
    position: absolute;
    top: 963px;
    left: 1200px;
  }
  #x3 {
    position: absolute;
    top: 963px;
    left: 1415px;
  }
  #up-s3t1 {
    top: 1247px;
    left: 365px;
  }
  #s3-btn-container {
    display: flex;
    position: absolute;
    width: Hug (900px);
    height: Hug (67px);
    top: 1246px;
    left: 595px;
    gap: 28px;
  }
  .s3-btn {
    padding: 16px 24px 16px 24px;
    border-radius: 32px;
    gap: 10px;
    border: 1px solid #f88103;
    background-color: white;
  }
  #s3-btn1 {
    background: #f88103;
  }
  #s7-btn-container {
    display: flex;
    position: absolute;
    width: Hug (900px);
    height: Hug (67px);
    top: 2602px;
    left: 588.5px;
    gap: 28px;
  }
  .s7-btn {
    padding: 16px 24px 16px 24px;
    border-radius: 32px;
    gap: 10px;
    border: 1px solid #f88103;
    background-color: white;
  }
  #s7-btn1 {
    background: #f88103;
  }
  #up-s4t1 {
    height: 44px;
    top: 1363px;
    left: 365px;
  }
  #up-s4b1 {
    width: 956px;
    height: 160px;
    top: 1333px;
    left: 592px;
    border-radius: 24px;
    border: 1px solid white;
    background: #ffffff;
    position: absolute;
    box-shadow: 0px 4px 30px 0px #0000001a;
  }
  #up-s5b1 {
    background: #ffffff;
    position: absolute;
    width: 956px;
    height: 160px;
    top: 1533px;
    left: 592px;
    border-radius: 24px;
    border: 1px;
    border: 1px solid white;
    box-shadow: 0px 4px 30px 0px #0000001a;
  }
  #up-s6b1 {
    background: #ffffff;
    position: absolute;
    width: 956px;
    height: 800px;
    top: 1733px;
    left: 592px;
    border-radius: 24px;
    border: 1px solid white;
    box-shadow: 0px 4px 30px 0px #0000001a;
  }
  #up-s5t1 {
    height: 44px;
    top: 1563px;
    left: 364px;
  }
  #up-s6t1 {
    height: 44px;
    top: 1765px;
    left: 364px;
  }
  #up-s7t1 {
    height: 44px;
    top: 2605px;
    left: 363px;
  }
  #select-btn-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 370px;
    height: 65px;
    top: 2748px;
    left: 773px;
  }
  #select-btn-container button {
    width: Hug (115px);
    height: Hug (65px);
    padding: 16px 24px 16px 24px;
    border-radius: 12px;
    gap: 10px;
    color: white;
    background-color: #001853;
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
  }
  #upload-footer {
    top: 2935px;
  }
  
  /* post  */
  #review-box {
    position: absolute;
    width: 1180px;
    height: 318px;
    top: 186px;
    left: 370px;
    border-radius: 24px;
    background: linear-gradient(
      180deg,
      rgba(229, 230, 250, 0) 0%,
      rgba(234, 234, 245, 0.5) 100%
    );
    box-shadow: 0px 4px 40px 0px #0000001a;
  }
  #review-img {
    position: absolute;
    width: 194px;
    height: 232px;
    top: 229px;
    left: 415px;
  }
  
  #review-text1 {
    position: absolute;
    height: 46px;
    top: 236px;
    left: 638px;
    font-size: 32px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  #review-text2 {
    position: absolute;
    height: 35px;
    top: 299px;
    left: 638px;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  #review-user {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 380px;
    left: 642px;
    padding: 2.499999761581421px 3.003021240234375px 2.483705759048462px
      3.003662109375px;
  }
  #review-text3 {
    height: 35px;
    top: 378px;
    left: 678px;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.5px;
    text-align: left;
  
    position: absolute;
  }
  #review-text4 {
    width: 85px;
    height: 23px;
    top: 384px;
    left: 766px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #7e7e7e;
    position: absolute;
  }
  #review-text5 {
    position: absolute;
    width: 935px;
    height: 804px;
    top: 664px;
    left: 491px;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  
  #comment {
    position: absolute;
    height: 44px;
    top: 1749px;
    left: 370px;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  
  #post-footer {
    top: 2894px;
  }
  
  #cuser1 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 1860px;
    left: 374px;
  }
  #cuser2 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 2118px;
    left: 374px;
  }
  #cuser3 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 2482px;
    left: 374px;
  }
  #cbox1 {
    position: absolute;
    width: 1035px;
    height: 160px;
    top: 1849px;
    left: 515px;
    border-radius: 24px;
    background: #d9d9d9;
    box-shadow: 0px 4px 30px 0px #0000001a;
  }
  #cbox2 {
    position: absolute;
    width: 1035px;
    height: 160px;
    top: 2158px;
    left: 515px;
    border-radius: 24px;
    background: #ffffff;
    box-shadow: 0px 4px 30px 0px #0000001a;
  }
  #cbox3 {
    position: absolute;
    width: 1035px;
    height: 160px;
    top: 2522px;
    left: 515px;
    border-radius: 24px;
    background: #ffffff;
    box-shadow: 0px 4px 30px 0px #0000001a;
  }
  #creator1 {
    position: absolute;
  
    height: 33px;
    top: 2120px;
    left: 533px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  #creator2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    text-align: left;
  
    position: absolute;
  
    height: 33px;
    top: 2484px;
    left: 533px;
  }
  #date1 {
    height: 22px;
    top: 2125px;
    left: 587px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: left;
  
    position: absolute;
  }
  #date2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: left;
  
    position: absolute;
  
    height: 22px;
    top: 2489px;
    left: 609px;
  }
  
  #cbtn1 {
    position: absolute;
    width: Hug (75px);
    height: Hug (48px);
    padding: 12px 20px 12px 20px;
    border-radius: 32px;
    gap: 10px;
    background: #001853;
    color: white;
    top: 1944px;
    left: 1455px;
  }
  
  #ctext1 {
    position: absolute;
    width: 827px;
    height: 70px;
    top: 1875px;
    left: 544px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #6c6c6c;
  }
  #ctext2 {
    position: absolute;
    width: 977px;
    height: 99px;
    top: 2190px;
    left: 541px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #6c6c6c;
  }
  #ctext3 {
    position: absolute;
    height: 33px;
    top: 2554px;
    left: 533px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #6c6c6c;
  }
  