
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto&display=swap');

html{
    font-size:62.5%;
    font-family: 'Noto Sans KR', sans-serif;
}

div,p,input{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

#sec1{
  align-self: center;
  margin-top: 9vh;
}
#review-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 55vw;
  height: 30vh;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(229, 230, 250, 0.00) 0%, rgba(234, 234, 245, 0.50) 100%);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
}
#review-img{
  height: 24vh;
}
#review-box > div{
  display: flex;
  flex-direction: column;
  height: 24vh;
  margin: 2vw;
}
#review-text1{
  font-size: 2rem;
  margin-top: 2vh;
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
}
#review-text2{
  font-size: 1.5rem;
  margin-top: 2vh;
}
#review-upload{
  display: flex;
  flex-direction: row;
  margin-top: 4vh;
  align-items: center;
  gap: 5px;
}
#review-user{
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
#review-text3{
  font-size: 1.5rem;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#review-text4{
  font-size: 1rem;
  color: #7E7E7E;
  font-weight: 400;
  letter-spacing: 0.5px;
}

#sec2{
  display: flex;
  align-self: center;
  margin-top: 8vh;
}

#review-content{
  width: 55vw;
  padding: 6vh 4vw 6vh 4vw;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
}

#sec3{
  width: 55vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#comment{
  font-size: 3rem;
  color: #000;
  font-size: 2rem;
  letter-spacing: 0.5px;
}

#comment-write{
  width: 55vw;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 5vh;
  margin-bottom: 4vh;
}

#cuser1{
  width: 40px;
  height: 40px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
#comment-write > textarea{
  flex-grow: 1;
  margin-left: 2vw;
  height: 15vh;
  outline: none;
  border: none;
  resize: none;
  border-radius: 12px;
  background: #D9D9D9;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
  font-size: 1.4rem;
  font-weight: 400;
  padding: 2vh 2vw 2vh 2vw;
}
#cbtn1{
  display: flex;
  display: flex;
  padding: 6px 10px;
  position: absolute;
  right: 2vh;
  bottom: 2vh;
  color: white;
  border-radius: 5vh;
  background: #001853;
  color: #FFF;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
#cbtn1:hover{
  background: #00091f;
}

#comment-box{
  width: 55vw;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 4vh;
  margin-bottom: 6vh;
}
#comment-box #cuser{
  width: 40px;
  height: 40px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
#comment-box > div{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}
#comment-box #divWriter{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#creator1{
  font-size: 1.6rem;
  color: #000;
  font-weight: 500;
}

#date1{
  color: #7E7E7E;
  font-size: 1rem;
  padding-left: 1.5vh;
  font-weight: 400;
}
#ctext2{
  flex-grow: 1;
  overflow: hidden;
  font-size: 1.3rem;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
  color: #7E7E7E;
  font-size: 1.4rem;
  padding: 2vh 2vw 2vh 2vw;
  margin-top: 1vh;
}