@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto&display=swap');

html{
    font-size:62.5%;
    font-family: 'Noto Sans KR', sans-serif;
}

div,p,img{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
select:focus{
    outline: none;
}
input{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-appearance : none;
    -moz-appearance:none;
    appearance:none;
}
input:focus {
    outline: none;
}
input[type='date']:valid {
    color: #C2C2C2;
}
input[type='time']:valid {
    color: #C2C2C2;
}
textarea{
    flex-grow: 1;
    border-radius: 12px;
    outline: none;
    border: none;
    resize: none;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    color: black;
    padding: 15px;
    font-size: 1.6rem;
}
textarea:focus{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    outline: none;
}

select{
    color: #C2C2C2;
    padding-left: 15px;
    padding-right: 20px;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}


#sec1{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E6FA;
}

#sec1 #title{
   color: #001853;
   font-size: 2.8rem;
   font-weight: 700;
   text-align: center;
   color: #001853;
}

#sec2{
    background-color: #FFF;
    align-items: flex-start;
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

#sec2 > div{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 7vh;
}

.divLeft{
    width: 15vw;
    padding-right: 2vw;
    text-align: left;
    font-size: 1.8rem;
    padding-top: 10px;
}
.divRight{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#title-box textarea::placeholder{
    color: #C2C2C2;
}

.divSquare{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 14vh;
    height: 14vh;
    border-radius: 12px;
    padding: 15px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.divSquare > img{
    height: 4vh;
}

#picture-box .divRight{
    gap: 15px;
}
#picture-box .divSquare:hover{
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
#picture-box #preview {
    width: 14vh;
    height: 14vh;
    border-radius: 12px;
}
#picture-box #remove {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5%;
    right: 5%;
    border-radius: 12px;
    cursor: pointer;
}

.book-title input{
    flex-grow: 1;
    border-radius: 12px;
    margin: 0;
    outline: none;
    border: none;
    resize: none;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    color: black;
    padding: 15px;
    font-size: 1.6rem;
    border: 0;
    -webkit-appearance : none;
    -moz-appearance:none;
    appearance:none;
}
.book-title input:focus{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}
.book-title input::placeholder{
    color: #C2C2C2;
}

#clubtime .divRight{
    gap: 10px;
}
#clubtime #add-time-box{
    cursor: pointer;
}
#clubtime #add-time-box:hover{
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
#clubtime #time-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px;
}
#clubtime #round{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3vh;
    font-size: 1.2rem;
}
#clubtime #round > input{
    width: 5vh;
    height: 3vh;
    text-align: center;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
#time-box > input{
    height: 3vh;
    border-radius: 8px;
    background: #FFF;
    border: none;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
#time-box input::placeholder{
    color: #C2C2C2;
}
#time-box #remove-btn{
    display: none;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5%;
    right: 5%;
    border-radius: 12px;
    cursor: pointer;
}

#clubplace .divRight{
    gap: 10px;
}
#clubplace select{
    flex-grow: 1;
    height: 5vh;
    font-size: 1.4rem;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    border: none;
    background: url('/static/img/arrow_bottom.svg') calc(95% - 5px) no-repeat;
    background-size: 10px;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#discuss-box .divRight{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.radioDiscuss input[type=radio] + label{
    padding: 0 16px 0 16px;
    font-size: 1.4rem;
    border: 1px solid #F88103;
    background: #FFF;
    border-radius: 24px;
    text-align: center;
    line-height: 35px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.radioDiscuss label{
    display: block;
}
.radioDiscuss input[type=radio] {
    display: none;
}
/* Checked */
.radioDiscuss input[type=radio]:checked + label{
    background: #F88103;
    border-radius: 24px;
}

#detail .divRight{
    height: 50vh;
}
#detail textarea::placeholder{
    color: #C2C2C2;
}

#sec3{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 15vh;
}
#sec3 > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
#sec3 > div > button{
    width: 10vw;
    background-color: #001853;
    color: white;
    outline: none;
    border: 0;
    border-radius: 12px;
    text-align: center;
    padding: 10px 18px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#sec3 > div > button:hover {
    box-shadow: 0px 0 15px #0017535a;
    transform: translateY(-2px);
}
#sec3 > div > button:active{
    background-color: #00081c;
    box-shadow: 0px 5px 10px #0017535a;
    transform: translateY(3px);
}