{% include "header.html" %}
{% load static %}
{% block content %}
<form action="{% url 'essays:essay-create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/upload.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <script src="/static/js/includeHTML.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- <div include-html="header.html"></div> -->
    <section id="sec1">
            <div id="title">내가 직접 원하는 독서클럽을 구성해볼까요?</div>
    </section>

    <section id="sec2">

        <div id="title-box">
            <div class="divLeft">감상문 제목</div>
            <div class="divRight">
                <textarea name="essay_title" id="id_essay_title" placeholder="20자 이내로 작성해주세요" maxlength="20"></textarea>
            </div>
        </div>

        <div id="picture-box">
            <div class="divLeft">사진첨부</div>
            <div class="divRight">
                <div class="divSquare" id="addPicture">
                <img src="/static/img/img3/camera.png" alt="camera">
            </div>
            <div id="added" style="display: none; position: relative;">
                <input type="file" name="image" id="imageUpload" style="display:none" accept=".png, .jpg, .jpeg">
                <img id="preview" src="#" alt="미리보기">
                <img id="remove" src="/static/img/removeBtn.svg" alt="삭제">
            </div>
            </div>
        </div>
    
        <div id="discuss-box">
            <div class="divLeft">토론분야</div>
            <div class="divRight">
            <div class="radioDiscuss">
                <input type="radio" name="discuss" id="poemOption" value="poem">
                <label for="poemOption">소설/시</label>
            </div>
            <div class="radioDiscuss">
                <input type="radio" name="discuss" id="humanOption" value="human">
                <label for="humanOption">인문</label>
            </div>
            <div class="radioDiscuss">
                <input type="radio" name="discuss" id="societyOption" value="society">
                <label for="societyOption">사회</label>
            </div>
            <div class="radioDiscuss">
                <input type="radio" name="discuss" id="historyOption" value="history">
                <label for="historyOption">역사</label>
            </div>
            <div class="radioDiscuss">
                <input type="radio" name="discuss" id="artOption" value="art">
                <label for="artOption">예술</label>
            </div>
            <div class="radioDiscuss">
                <input type="radio" name="discuss" id="scienceOption" value="science">
                <label for="scienceOption">과학</label>
            </div>
            <div class="radioDiscuss">
                <input type="radio" name="discuss" id="economyOption" value="economy">
                <label for="economyOption">경제 경영</label>
            </div>
            </div>
        </div>

        <div class="book-title">
            <div class="divLeft" >책 제목</div>
            <div class="divRight">
            <input name="bookTitle" id="id_bookTitle" placeholder="책 제목을 작성해주세요"></input>
            </div>
            
        </div>

        <div class="book-title">
            <div class="divLeft">책 지은이</div>
            <div class="divRight">
            <input name="bookAuthor" id="id_bookAuthor" placeholder="책을 쓴 지은이를 작성해주세요"></input>
            </div>
        </div>

        <div id="detail">
            <div class="divLeft">상세내용</div>
            <div class="divRight">
            <textarea name="content" id="id_content" placeholder="이 책에 대해서 읽고 난 후 나의 감상평에 대해서 적어 보아요" maxlength="200"></textarea>
            </div>
        </div>
    </section>

    <section id="sec3"> 
    <div>
        <button id="cbtn1" type="submit">업로드</button>
        <button id="cbtn1">나가기</button>
    </div>
    </section>

    <script>
        includeHTML();

        $(document).ready(function() {
            $("#addPicture").click(function() {
            $("#imageUpload").click();
            });

            $("#imageUpload").change(function() {
            readURL(this);
            });

            $("#remove").click(function() {
            $("#preview").attr("src", "");
            $('#added').hide();
            // Reset file input value to allow selecting the same file again
            $("#imageUpload").val("");
            });

            function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                $("#preview").attr("src", e.target.result);
                $('#added').show();
                };

                reader.readAsDataURL(input.files[0]);
            }
            }
        });

        $(document).ready(function() {
            var timeBoxCount = $(".divSquare#time-box").length;
            console.log(timeBoxCount)

            $("#add-time-box").click(function() {
                console.log(timeBoxCount)
                if (timeBoxCount < 5) {
                    var clonedTimeBox = $("#time-box").clone();
                    clonedTimeBox.find("input, select").val(""); // Reset input/select values in cloned time-box
                    clonedTimeBox.find("#remove-btn").css("display", "inline-block");
                    clonedTimeBox.insertAfter("#time-box");

                    timeBoxCount++;

                    if (timeBoxCount >= 5) {
                        $("#add-time-box").hide();
                    }
                }
            });

            // remove-btn 클릭 시 해당 time-box-item 삭제
            $(document).on("click", "#remove-btn", function() {
                console.log(timeBoxCount)
                if (timeBoxCount >= 2) {
                    $(this).closest("#time-box").remove(); // 가장 가까운 상위 time-box-item 요소를 찾아 삭제

                // 남은 time-box-item 개수 확인
                timeBoxCount--;

                // time-box-item 개수가 4개 이하면 add-time-box 보이기
                if (timeBoxCount < 5) {
                    $("#add-time-box").show();
                }
                }
            });
        });

        const selects = document.querySelectorAll('select');

        selects.forEach(select => {
            select.addEventListener('change', () => {
                if (select.value == 'none') {
                    select.style.color = '#C2C2C2';
                } else {
                    select.style.color = '#000';
                }
            });
        });
    </script>
    
</body>
</html>

</form>
{% endblock %}
{% include "footer.html" %}